*{
  margin: 0;
  padding: 0;
  background-color: #6d6875;
}
body{
  background-color: #6d6875;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center-container-outer {
  height: 60%;
  width: 50%;
  border: 4px solid #ffcdb2;
  border-radius: 20px;
  padding: 5px 10px 30px 5px;
}
.center-container{
  height: 90%;
  width: 90%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.center-container::-webkit-scrollbar {
  width: 6px;
}

.center-container::-webkit-scrollbar-track {
  background: #b892ff;
}

.center-container::-webkit-scrollbar-thumb {
  background: #ffcdb2;
  border-radius: 6px;
}

.app-heading{
  padding: 4px;
  color: #ffcdb2;  
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 20px;
}
.input-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.input-box-todo{
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border:2px solid #ffcdb2;
  padding-left: 10px;  
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  outline: none;
  font-size: large;
  color: #ffcdb2;
  font-weight: bold;
}
.add-btn{
  width:40px;
  height:40px;
  border-radius: 1rem;
  border:none;
  background-color:#ffcdb2;
  color: #6d6875;
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;  
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
  width: fit-content;
  text-wrap: nowrap;
  padding: 0 0.5rem;
}
::placeholder {
  color: #ffcdb2;
}
.add-btn:active{
  box-shadow: none;
}
.list-container{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.list-item{
  list-style-type: none;
  border:2px solid #ffcdb2;
  color: #ffcdb2;
  padding:10px;
  padding-left: 5px;
  border-radius: 5px; 
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.icons{
  position: absolute;
  right: 10px;
}
.icons i{
  margin: 4px;
  font-size: large;
  cursor: pointer;
}
.icons i:hover{
  transform: scale(1.2);  
}
.icon-delete:hover{
  color: black;
}